<div class="content">
    <div class="user-img">
        <img src="https://imgsamanero23.blob.core.windows.net/user-img/avatar-svgrepo-com.svg" />
    </div>

    <div class="review-content">
        <div class="review-header">
            <h3>Cameron Williamson</h3>
            <p>5 stars</p>
        </div>

        <div class="review-text">
            <p class="date">23 Jan 2022</p>
            <p>Consequat ut ea dolor aliqua laborum tempor Lorem culpa. Commodo veniam sint est mollit proident commodo.</p>
        </div>
    </div>

</div>

@code {

}
