<div class="hero">
    <div class="hero-slideshow">
        <div class="hero-slideshow-wrapper">
            <img class="hero-img" src="/images/home/hero-img-1.jpg" />
            <img class="hero-img" src="/images/home/hero-img-2.jpg" />
            <img class="hero-img" src="/images/home/hero-img-3.jpg" />
        </div>
    </div>
    <div class="slideshow-dots">
        <span class="dot" data-index="0"></span>
        <span class="dot" data-index="1"></span>
        <span class="dot" data-index="2"></span>
    </div>
    <div class="hero-text">
        <h1>Welcome to Manero!</h1>
        <h2>50% off</h2>
        <a class="btn btn-dark btn-lg">Shop Now!</a>
    </div>
</div>
<script src="/js/heroSlideshow.js"></script>

@code {

}
