<header>
    <div class="header-content">
        <button id="show-popup"><i class="fa-solid fa-bars-staggered header-bars"></i></button>
        <a><h1>MANERO</h1></a>
        <a href="/cart"><i class="fa-regular fa-bag-shopping header-bag"></i></a>
    </div>
    <div class="bag-total">$0</div>
    <div class="contact-popout" style="display: none;">
        <div class="popup-content">
            <button class="close-btn" id="hide-popup"><i class="fa-solid fa-x"></i></button>
            <h2>Contact us</h2>
            <p>27 Division St, New York, NY 10002, USA</p>
            <p>manerosale@mail.com manerosupport@mail.com</p>
            <p>+17  123456789 +17  987654321</p>
        </div>
    </div>
</header>
<script src="/js/contactPopup.js"></script>

@code {

}
