@page "/"

<PageTitle>Home</PageTitle>
<p class="logo">MANERO</p>
<h1>Welcome to Manero Back Office</h1>
<h3>Please select what you want to add or change in the database</h3>
<p>You have to be signed in to make changes</p>

<div class="bo-links">
    <a href="/products" class="bo-link btn btn-primary"><i class="fa-solid fa-shirt"></i>Products</a>
    <a href="/categories" class="bo-link btn btn-primary"><i class="fa-solid fa-list"></i>Categories</a>
    <a href="/colors" class="bo-link btn btn-primary"><i class="fa-solid fa-palette"></i>Colors</a>
    <a href="/sizes" class="bo-link btn btn-primary"><i class="fa-solid fa-up-right-and-down-left-from-center"></i>Sizes</a>
</div>



