.prod-color {
    display: flex;
    gap: 15px;
    align-items: center;
}

    .prod-color a {
        border-radius: 50%;
        height: 40px;
        width: 40px;
        padding: 10px;
        display: flex;
        justify-content: center;
        cursor: pointer;
        transition: border 0.3s;
    }

        .prod-color a.selected {
            border: 3px solid #dbe3f5;
        }

.prod-color a.unavailable {
    opacity: 0.1;
    cursor: not-allowed;
}



h3 {
    margin-right: 10px;
    font-weight: 600;
}

.prod-red {
    background-color: #ff6262;
}

.prod-lightblue {
    background-color: #63c7ff;
}

.prod-beige {
    background-color: #f8e7cd;
}

.prod-darkblue {
    background-color: #323858;
}

.prod-black {
    background-color: black;
}
