<link rel="stylesheet" href="ProdImgCarousel.razor.css" />

<div class="detail-carousel">

    <i class="fa-solid fa-period fa-lg"></i>
    <i class="fa-solid fa-period fa-lg"></i>
</div>

@code {

}
