<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://manero-nackademin-fa.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/7d3857b6-0306-4205-8a44-2d294d1cfc40/resourceGroups/Uppgift/providers/Microsoft.Web/sites/manero-nackademin-fa</ResourceId>
    <UserName>REDACTED</UserName>
    <_SavePWD>true</_SavePWD>
    <ApiResourceId>/subscriptions/7d3857b6-0306-4205-8a44-2d294d1cfc40/resourceGroups/Uppgift/providers/Microsoft.ApiManagement/service/VerificationProviderapi/apis/VerificationProvider</ApiResourceId>
    <PublishUrl>https://manero-nackademin-fa.scm.azurewebsites.net/</PublishUrl>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
  </PropertyGroup>
</Project>