@page "/welcome"
@using Manero_WebApp.Components.Layout
@layout WelcomeLayout

<PageTitle>Get Started</PageTitle>

<section class="start">
    <div class="content">
        <h1 class="getstarted-title">Welcome To Manero!</h1>
        <p class="welcome-text">
            Labore sunt culpa excepteur culpa ipsum.
            Labore occaecat ex nisi mollit.
        </p>
        <button class="btn-main get-started-btn">GET STARTED!</button>
    </div>
</section>

<div class="pagination-circles">
    <div class="circle" data-page="0"></div>
    <div class="circle" data-page="1"></div>
    <div class="circle" data-page="2"></div>
</div>



<img class="big-manero-ring" src="/images/welcome/big_ring_1.svg" />
<img class="big-manero-ring" src="/images/welcome/big_ring_2.svg" />



@code {

}

