@page "/"
@using Manero_WebApp.Components.Layout
@layout WelcomeLayout

<PageTitle>Welcome</PageTitle>

<section class="welcome">
    <img class="manero-ring" src="/images/welcome/ring_1.svg" />
    <img class="manero-ring" src="/images/welcome/ring_2.svg" />
    <h1 class="welcome-title">MANERO</h1>
</section>


@code {

}
