.container {

}

.product-img {
    display: flex;
    justify-content: center;
}

@media (min-width: 1200px) {
    .product-img img {
        width: 600px;
        height: auto;
    }

    .container {
        width: 600px;
        height: auto;

    }

    .detail-carousel {
        display: none;
    }

    .prod-bottom-border {
    }

    .big-screen-details {
        display: flex;
        justify-content: center;
        gap: 50px;
        margin-top: 40px;
    }

    .right-view-bscreen {
        margin-top: 30px;
    }
}

@media (max-width: 800px) {
    .product-img img {
        width: 100%;
        height: auto;
    }

    .prod-bottom-border {
        border-bottom: 2px solid #dbe3f5;

    }

    .detail-carousel {
        display: flex;
        justify-content: center;
        gap: 5px;
        margin-bottom: 30px;
        margin-top: 20px;
    }
}


.product-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.product-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.product-size {
    margin-top: 25px;
}

.product-color {
    margin-top: 25px;
}

.product-description {
    margin-top: 25px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 15px;
}

.confirmation-message {
    background-color: rgba(0, 128, 0, 0.8);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
    text-align: center;
}

    .confirmation-message.show {
        opacity: 0.9;
        transform: translateY(0);
    }

    .confirmation-message.hide {
        opacity: 0;
        transform: translateY(20px);
    }

h3 {
    font-weight: 600;
}

